hacko3v10/public/fileadmin/_processed_/
hacko3v10/public/fileadmin/_temp_/
hacko3v10/public/index.php
hacko3v10/public/typo3/
hacko3v10/public/typo3conf/l10n/
hacko3v10/public/typo3conf/ext/
hacko3v10/public/typo3temp/
hacko3v10/var/
hacko3v10/vendor/
/.idea/
.DS_Store
Thumbs.db
